.lastProduct-description-container h1 {
    text-align: center;
}


.lastProduct-description-container p {
    margin-bottom: 0.4rem;
}


.lastProduct-description-container p u {
    font-weight: 500;
}